<footer class="footer" dir="rtl">
    <div class="container text-light">
      <h3 class="mb-4">تواصل معنا</h3>
      <div class="contact-item">
        <i class="fas fa-envelope text-primary"></i>
        <span>Thesolv&#64;gmail.com</span>
      </div>
      <div class="contact-item">
        <i class="fas fa-phone text-primary"></i>
        <span>+20 102 704 2134</span>
      </div>
      <div class="contact-item">
        <i class="fab fa-facebook text-primary"></i>
        <span>شركة الهندسة</span>
      </div>
      <div class="contact-item">
        <i class="fas fa-map-marker-alt text-primary"></i>
        <span>مدينة العبور الحي السادس<br />بجوار كابيتال بلازا</span>
      </div>
    </div>
  </footer>