<!-- <section class="col-3 my-3">
    <h5>Sort</h5>
    <select class="form-select mb-4" (change)="onSortSelected($event)">
      <option value="" disabled selected>Select Sort Option</option>
      <option [value]="option.value" *ngFor="let option of sortedOptions">
        {{ option.name }}
      </option>
    </select>
    <h5>Filters</h5>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <select class="form-select" id="name" [(ngModel)]="pumpparams.name" (change)="getPumps()">
          <option value="" disabled selected>Select Name</option>
          <option *ngFor="let name of FilterOptions.name" [value]="name">{{ name }}</option>
        </select>
      </div>

</section> -->

<p>works</p>
<p>works</p>

<p>works</p>

<p>works</p>

<p>works</p>

<p>works</p>

<p>works</p>

<p>works</p>

<p>works</p>

<p>works</p>

<p>works</p>
<p>works</p>

<p>works</p>

<p>works</p>

<p>works</p>

<p>works</p>

<p>works</p>

<p>works</p>



<p>works</p>
<p>works</p>

<p>works</p>

<p>works</p>
