<img class="img-fluid w-100" src="Images\upper-aboutus.jpg" />
<div class="container p-5">
    
    <h1 class="d-none">About Us</h1>
    <p class="fs-5 gray-color">
      Welcome to CarHub, your ultimate destination for all things automotive. 
      Our mission is to connect car enthusiasts, buyers, and sellers while 
      providing valuable resources for car maintenance and ownership.
    </p>
    
    <h2>Our Story</h2>
    <p class="fs-5 gray-color">
      Founded in 2024, CarHub has grown from a small community of car lovers 
      to a comprehensive platform for car transactions and information. We believe 
      in the power of community and strive to create a safe and informative space 
      for our users.
    </p>
  
    <h2>What We Offer</h2>
    <ul class="fs-5 gray-color">
      <li>Customers can easily browse and book cars online.</li>
      <li>Faster booking and payment process.</li>
      <li>More detailed information and better support.</li>
      <li>Stay updated with the latest trends and news in the automotive world.</li>
    </ul>
  
    <h2>Contact Us</h2>
    <p class="fs-5 gray-color">If you have any questions or suggestions, feel free to reach out to us at <a href="mailto:@mhmdali23101@gmail.com"> Contact</a>.</p>
    <div class="container my-2 text-end">
        <button class="btn btn-primary" routerLink="/enquiry">Get In Touch</button>
    </div>
  </div>
  