
h1, h2 {
    color: #343a40; /* Dark text color */
  }
  
  p {
    font-size: 1rem; /* Normal text size */
    line-height: 1.6; /* Spacing between lines */
  }
  
  ul {
    list-style-type: disc; /* Bullet points for the list */
    margin-left: 20px; /* Indent list */
  }

  a{
    text-decoration: none;
  }
  