<title>EngineeringCo</title><link rel="icon" type="image/png" href="/public/Pictures/logo.jpg">

<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">
  <label>اسم الطلمبة:</label>
  <input formControlName="productName" type="text" required />

  <label>الموديل:</label>
  <input formControlName="model" type="text" required />

  <label>أضف صورة:</label>
  <input type="file" (change)="onImageUpload($event)" accept="image/*" />

  <label>حجم المدخل:</label>
  <input formControlName="inletSize" type="number" required />

  <label>حجم المخرج:</label>
  <input formControlName="outletSize" type="number" required />

  <label>المادة:</label>
  <input formControlName="construction" type="text" required />

  <label>أضف ملف (PDF):</label>
  <input type="file" (change)="onDocumentUpload($event)" accept="application/pdf" />

  <button type="submit" [routerLink]="'/create'">أَضف طلمبة جديدة</button>
</form>
