<div class="container my-5">
    <div class="row">
    <section class="col-lg-3 col-md-4 col-sm-12 my-3">
        <h5 class="text-end">الترتيب</h5>
        <select class="form-select text-end mb-4" (change)="onSortSelected($event)">
          <option value="" disabled selected>اختر طريقة الترتيب</option>
          <option [value]="option.value" *ngFor="let option of sortedOptions">
            {{ option.name }}
          </option>
        </select>
        <h5 class="text-end">التصفية عن طريق</h5>
          <div class="mb-3 text-end">
            <label for="name" class="form-label">نوع الطلمبة </label>
            <select class="form-select text-end" id="name" [(ngModel)]="accessoryparams.name" (change)="getFilteredAccessories()">
              <option value="" disabled selected>اختر النوع</option>
              <option *ngFor="let name of AccessFilterOptions.name" [value]="name">{{ name }}</option>
            </select>
          </div>
          <div class="mb-3 text-end">
            <label for="model" class="form-label">الطراز</label>
            <select class="form-select text-end" id="model" [(ngModel)]="accessoryparams.model" (change)="getFilteredAccessories()">
              <option value="" disabled selected>اختر الطراز</option>
              <option *ngFor="let model of AccessFilterOptions.model" [value]="model">{{ model }}</option>
            </select>
          </div>
          <div class="mb-3 text-end">
            <label for="construction" class="form-label">المادة</label>
            <select class="form-select text-end" id="construction" [(ngModel)]="accessoryparams.construction" (change)="getFilteredAccessories()">
              <option value="" disabled selected>اختر المادة</option>
              <option *ngFor="let construction of AccessFilterOptions.construction" [value]="construction">{{ construction }}</option>
            </select>
          </div>
         
          <ng-container *ngIf="(accountService.currentUser$ | async ) as User">
            <div class="mb-3">
              <button class="btn btn-primary w-100"[routerLink]="'/create-accessory'"><i class="fa-regular fa-plus"></i> أضف جديد</button>
            </div>
          </ng-container> 
    </section>
    <section class="col-lg-9 col-md-8 col-sm-12">
      <div class="d-flex justify-content-end align-items-center pb-2">
        <div class="d-flex mt-2 pb-3 col-lg-9 col-md-8 col-sm-12">
          <input type="text" 
                 (keyup)="onSearch()" 
                 placeholder="البحث" 
                 class="form-control text-end me-2 flex-grow-1" 
                 #search>
          <button class="btn btn-outline-primary mx-2" 
                  (click)="onSearch()">البحث
          </button>
          <button class="btn btn-outline-success" 
                  (click)="resetFilters()">اعادة البحث 
          </button>
        </div>
      </div>
    
      <div class="row g-4">
        <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let item of accessorylist">
            <div class="blog-item">
                <div class="blog-img">
                    <img [src]="item.imageURL" class="img-fluid rounded-top w-100" alt="Image">
                </div>
                <div class="blog-content rounded-bottom p-4">
                  <div class="downloader">
                    <h5 class="blog-name text-end pb-3">{{ item.pumpName }} </h5>  
                    <!-- <a [href]="item.documentation.fileUrl" download> 
                      <i class="fa-solid fa-download pb-3"></i>
                    </a>  -->
                  </div>
                  <div class="row gy-2 gx-0 text-center mb-4">
                    <div class="col-6 d-flex flex-column">
                        <small>الطلمبة</small>
                        <span class="text-body ms-1">{{ item.name }}</span>
                      </div>
                    <div class="col-6 d-flex flex-column border-end border-white">
                        <small>الطراز</small>
                        <span class="text-body ms-1">{{ item.model }}</span>
                    </div>
                    <div class="col-6 d-flex flex-column border-end border-white">
                      <small>المادة</small>
                      <span class="text-body ms-1">{{ item.construction }}</span>
                    </div>
                    <div class="col-6 d-flex flex-column border-end border-white">
                      <small>النوع</small>
                      <span class="text-body ms-1">{{ item.category.name }}</span>
                    </div>
                  
                    <ng-container *ngIf="(accountService.currentUser$ | async ) as User">
                      <div class="col-6 d-flex flex-column align-items-center">
                        <button class="btn btn-outline-success w-75" [routerLink]="['/update-accessory', item.id]"><i class="fa-solid fa-pen"></i> تعديل</button>
                      </div>
                      <div class="col-6 d-flex flex-column align-items-center" (change)="getFilteredAccessories()">
                        <button class="btn btn-outline-danger w-75" *ngIf="item.id" (click)="deleteAccessory(item.id)"><i class="fa-solid fa-trash"></i> حذف</button>
                      </div>
                    </ng-container> 
                    
                </div>
                  
                </div>
            </div>
        </div>
      </div>
    
      <div class="container-fluid px-2">
        <div class="d-flex justify-content-center mt-3">
          <pagination class="pagination custom-pagination"
                      (pageChanged)="pageChanged($event)"
                      [itemsPerPage]="accessoryparams._pageSize"
                      [(ngModel)]="accessoryparams.PageIndex"  
                      [totalItems]="totalcount">
          </pagination>
        </div>
      </div>
    </section>
    
    
    
    