.img{
    width: 85px;
}
.custom-nav ,.navbar-nav{
    background-color: #000d19;
    display: flex;
    justify-content: center; 
}
  
.navbar  {
  max-width: 100%; 
  display: flex;
  justify-content: center;
  padding-right: 100px;
}
.img{
  float:right;
  
}
*{
  padding: 0;

}


 .staff-link{
 
  padding-right: 300px;
  

}