<div class="container">
    <!-- Hero Section -->
    <section class="hero-section text-center py-5">
      <div class="container">
        <h2 class="display-4 fw-bold">مرحبا بكم في الشركة الهندسيه
           للقوى الكهروميكانيكية</h2>
        <p class="lead">ابحث عن منتجك من خلالنا</p>
        <div class="d-flex justify-content-center mt-4">
          <button class="btn btn-primary me-2" routerLink="/pumps" routerLinkActive="router-link-active" >ابحث عن طلمبه</button>
          <button class="btn btn-primary me-2" routerLink="/accessories" routerLinkActive="router-link-active" >ابحث عن قطع غيار</button>

        </div>
      </div>
      <img
        class="img-fluid mt-5"
        src="Images\card-proflo-shift.jpg"
        alt="صورة توضيحية"
      />
      
    </section>
  
    <!-- Features Section -->
    <section class="features-section text-center py-5">
      <div class="d-flex justify-content-md-between align-items-center py-3">
        <div class="col-md-2 mx-3 py-5 px-2">
          <h5>تنوع الخيارات</h5>
          <p>مجموعة واسعة من العلامات التجارية والموديلات المتاحة</p>
        </div>
        <div class="col-md-2 mx-3 py-5 px-2">
          <h5>توافر المعلومات التقنية</h5>
          <p>تفاصيل شاملة عن المنتجات وقطع الغيار</p>
        </div>
        <div class="col-md-2 mx-3 py-5 px-2">
          <h5>سهولة الوصول</h5>
          <p>يمكن تصفح مجموعة متنوعة من المضخات وقطع الغيار</p>
        </div>
        <div class="col-md-2 mx-3 py-5 px-2">
          <h5>سهولة المقارنة</h5>
          <p>مقارنة الميزات بين عدة منتجات وبعضها بسهولة</p>
        </div>
      </div>
    </section>
  </div>
  